.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 80%;
  flex-wrap: wrap; /* Add this line */
  margin: 0 auto;
}
.avatar {
  width: 300px;
}
.fancy-button {
  background-color: #f3c1c4;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px;
}
.fancy-button-project1 {
  background-color: #97a6c3;
}
.button-highlighted {
  border: 2px solid black; /* Adjust the border color as needed */
}
.fancy-button-project2 {
  background-color: red;
}
